header {
    position:relative;
    .menu-btn-mobile{
        position:absolute;
        z-index: 1;
        right: 30px;
        top:30px;
        height:20px;
        width:28px;
        cursor: pointer;
        display:none;
    
        &_burger{
            position:absolute;
            right:0;
            top:0.5rem;
            width:28px;
            height:3px;
            background-color: white;
    
            //the below creates the top and bottom burger elements
            &::before{
                content: '';
                position:absolute;
                top: -8px;
                width:28px;
                height:3px;
                background-color: white;
            }
    
            &::after{
                content: '';
                position:absolute;
                top: 8px;
                width:28px;
                height:3px;
                background-color: white;
            }
        }
    }

    .image-header-mobile{
        display:none;
    }

    .logo{
        position:absolute;
        top: 30px;
        left: 30px;
    }

    .desktop-navigation{
        position: absolute;
        top:30px;
        right: 0;
    
        ul {
    
            li {
                display:inline;
                margin-right: 30px;
    
                button{
                    border: 0;
                    background-color: white;
                    border-radius: 20px;
                    height: 40px;
                    width: 100px;

                    &:hover{
                        background-color:#6FCFFF;
                        color:white;
                    }
                }
                a{
                    color:white;
                    text-decoration: none;
                }
            }
        }
    }

    h1.creatives-text{
        position: absolute;
        top: 25%;
        color: white;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }

    .downwards-arrow{
        position: absolute;
        top: 45%;
        left: 50%;
        color: white;
    }
}

.row{

    .image-transform-mobile, .photography-mobile, .graphic-design-mobile{
        display:none;
    }

    .col-md-6, .col-md-3 {
        padding: 0;
    }
    .image-text{
        padding: 25% 25% 15% 25%;

        h2 {
            font-weight: bold;
        }
        
        p{
            margin-top: 50px;
        }

        h4 {
            border-bottom: 10px solid #ffd202;
            width: 150px;
            line-height: 10px;
            border-bottom-left-radius: 7px;
            border-bottom-right-radius: 7px;
            margin-top: 50px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .photography, .graphic-design{
        position:relative;
    }

    h4.graphic-design-title, h4.photography-title{
        position:absolute;
        bottom: 30%;
        left: 35%;
        letter-spacing: 2px;position: absolute;
        bottom: 30%;
        letter-spacing: 2px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }

    h4.photography-title, p.photography-text{
        color: #165169;
    }

    h4.graphic-design-title, p.graphic-design-text{
        color:#26574E;
    }

    p.photography-text, p.graphic-design-text{
        position: absolute;
        padding: 0 20%;
        bottom: 5%;
        text-align: center;
    }

}

.row.testimonials{
    padding: 10% 15%;
    h4.testimonials {
        text-align: center;
        letter-spacing: 2px;
        color:#A8A8A8;
        margin-bottom: 5%;
    }

    img {
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    p.testimonials-description {
        text-align: center;
        padding: 30px 0;
    }

    p.testimonials-name {
        text-align: center;
        font-weight: bold;
    }

    p.testimonials-job {
        font-size: 11px;
        text-align: center;
        color: gray;
    }
}

.footer{
    background-color:#90D4C5;
    color:#307769;

    h4 {
        text-align: center;
        font-weight: bold;
        padding: 50px 0;
    }

    .footer-navigation{
        text-align: center;
        ul{
            li{
                display:inline;
                margin: 20px;

                a {
                    color: #307769;
                    text-align: white;
                    text-decoration: none;

                    &:hover{
                        color:white;
                    }
                }
            }
        }
    }

    .social-icons{
        text-align: center;
        margin: 50px 0;
    }
    ul{
        li{
            display:inline;
            margin:10px;

            img:hover{
                cursor: pointer;
                background-color: white;
            }
        }
    }
}
@media (max-width: 720px) {
   header{
    .menu-btn-mobile, .image-header-mobile{
        display: block;
    }
    .desktop-navigation, .image-header-desktop{
        display:none;
    }

    .downwards-arrow{
        top: 50%;
    }

    h1.creatives-text{
        position: absolute;
        top: 30%;
        text-align: center;
        left: 10%;
         padding: 0 40px;
        color: white;
    }
   }

   .row{
    .image-transform-desktop, .photography-desktop, .graphic-design-desktop{
        display:none;
    }

    .image-transform-mobile, .photography-mobile, .graphic-design-mobile{
        display:block;
    }

    h4.graphic-design-title,  h4.photography-title
    {
        bottom: 35%;
    }
   }
}