header {
    .logo{
        position:absolute;
        top: 30px;
        left: 30px;
    }

    .navigation{
        position: absolute;
        top:30px;
        right: 0;
    
        ul {
    
            li {
                display:inline;
                margin-right: 30px;
    
                button{
                    border: 0;
                    background-color: white;
                    border-radius: 20px;
                    height: 40px;
                    width: 100px;
                }
                a{
                    color:white;
                    text-decoration: none;
                }
            }
        }
    }

    h1.creatives-text{
        position: absolute;
        top: 25%;
        left: 40%;
        color: white;
    }

    .downwards-arrow{
        position: absolute;
        top: 45%;
        left: 50%;
        color: white;
    }
}